{% extends "badger/base.html" %}
{% load i18n %}

{% load avatar_tags%}
{% block pageid %}badge_detail{% endblock %}

{%block content_title%}
    <h2>{% trans "Badge detail" %}</h2>
{%endblock%}
{% block right %}

<div id="detail">
    {% include "badger/includes/badge_full.html" %}
</div>

{% if award_list %}
<div id="recent_awardees">
    <h3>{% trans "Recent awards"%}</h3>
    <ul class="awardees clearfix">
        {% for award in award_list %}
            <li class="awardee">
                <a href="{%url user_space award.user.username%}" class="avatar_image">
                {% avatar award.user 30%}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}
