<ul class="awards">
    {% for award in award_list %}
        <li class="award">

            <a href="#" class="award_image"><img src="{{ award.badge.image.url }}"
                alt="{{ award.badge.title }}" width="128" height="128" /></a>
        
            <a href="#" class="label">
                <span class="badge_title">{{ award.badge.title }}</span>
                <span class="relation">awarded to</span>
                <span class="user">{{ award.user }}</span>
            </a>
            
            <a href="{{ award.get_absolute_url }}" class="avatar_image">
{%comment%}
            <img src="{{ user_avatar(award.user) }}"
                alt="{{ award.badge.title }}" width="128" height="128" /></a>            
{%endcomment%}

        </li>
        </div>

    {% endfor %}
</ul>
{%comment%}
{% include "badger/includes/pagination.html" %}
{%endcomment%}
