<div class="badge" data-slug="{{ badge.slug }}">
    {% if award and award.image %}
            <div class="image"><a href="#" class="image"><img src="{{ award.image.url }}" /></a></div>
    {% else %}
        {%if badge.image %}
            <div class="image"><a href="#" class="image"><img src="{{ badge.image.url }}"/></a></div>
        {%endif%}
    {% endif %}
        <h2 class="title">{{ badge.title }}</h2>
    {% if badge.description %}
            <div class="description">{{ badge.description }}</div>
    {% endif %}
    <ul class="actions">

        {% if allow_award %}
            <li><a class="award_badge" href="{% url badger.award_badge badge.slug %}">{{ _('Issue award') }}</a></li>
        {% endif %}
        {%comment%}
        {# TODO: Can this be done extensibly? with a registry? #}
        {% set modules = [ "badger_multiplayer" ] %}
        {% for module in modules %}
            {% include module ~ "/includes/badge_full_actions.html" %}
        {% endfor %}
        {%endcomment%} 

    </ul>
</div>
<div class="badge-bottom"></div>
