<ul class="badges">
    {% for badge in badge_list %}
        {%with img_url=badge.image.url|default:"/media/img/default-badge.png" %}
        <li class="badge">
            <div class="image"><a href="#" class="image"><img src="{{ img_url }}"
                alt="{{ badge.title }}" /></a>
                </div>
            <a href="#"><h2 class="title">{{ badge.title }}</h2></a>
            <div class="description">{{badge.description}}</div>
            <div class="clearfix"></div>
        </li>
        <div class="badge-bottom"></div>
        {% endwith %}
    {% endfor %}
</ul>
